#logo {
	width:100%;
	left:0px;
}


.nav_button{
		width: 100px;
		height:40px;
		margin:10px;
		background-color:;
		text-align: center;
		display: inline-block;
		border:;
		border-color: ;
		padding-top: 10px;
		color: red;
}
.nav_button:hover {color:white;
			background-color: orange;
}

#home_button {
	    width: 100px;
		height:40px;
		margin:10px;
		background-color:white;
		text-align: center;
		display: inline-block;
		border:solid;
		border-color: black;
		padding-top: 10px;
		color:black;

}
#home_button:hover {color:gray;
				background-color:orange;
}
#navigation_bar{
	background-color: black;
	text-align: center;
	position: absolute;
	margin-top: -40px;
	width:100%;
	left: 0px;
	
}

.first_box{
		width: 600px;
		height:800px;
		text-align: center;
		border:solid;
		border-color: black;
		float:left;
		
}

.second_box{
		width: 600px;
		height:800px;
		text-align: center;
		border:solid;
		border-color: black;
		float:left;
}

.worker_box{
		margin-top: 10px;
		width: 1830px;
		height:800px;
		text-align: center;
		border:solid;
		border-color: black;
		float:left;
		
}

#worker{
	float:left;
	margin-left: 5px;
}


.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}


#Page-Title {
	width:100%;
	background-color: black;
	text-align: center;
	color: white;
	position: absolute;
	left: 0px;
}
